server:
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  security:
    filter:
      order: 2
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        create_empty_composites:
          enabled: true
    open-in-view: false

# 현승구 : yml 분리 작업을 위해서 spring.config.import , profiles.active , group 활용
  profiles:
    include:
      - secret
      - s3
      - map
      - security
      - http

version:
  aos: 1.0.0
  ios: 1.0.0

---
spring:
  profiles:
    active: dev
---
spring:
  profiles:
    active: prod
---
management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.hibernate.SQL: info
  slack:
    webhook-uri: https://hooks.slack.com/services/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
  config: classpath:logback-spring.xml